body {
  display: flex;
  background-color: black;
}

h1 {
  display: flex;
  justify-content: center;
}

.container {
  color: white;
  margin-left: 300px;
  padding: 5%;
  width: 100%;
  background-color: dimgray;
}

.sign-up {
  display: flex;
  flex-direction: column;
}

input {
  width: 100%;
}

#submit{
  width: 20%;
  margin-left: 40%;
}

#a {
  margin-bottom: 2%;
}